
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    background-color: #fff;
}

#container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 500px;

    border: 1px solid gray;

    font-size: large;
    line-height: 16px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* header */

.header {
    width: 100%;
    padding: 0;
    margin: 0;
    padding-top: 5px;
}

.input {
    font-size: large;
    width: 419px;
    margin-left: 5px;
    margin-right: 5px;
    height: 25px;
    border: 1px solid rgb(206, 206, 206);
    vertical-align: middle;
    -webkit-transition: border-color ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s;
    transition: border-color ease-in-out .15s;
    padding-left: 5px;
}

.input:focus {
    border-color: #66afe9;
    outline: 0;
}

.button {
    display: inline-block;
    padding: 5px 14px;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
}

.button:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

/* list style */
.todo-list {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
    margin-top: 5px;
}

.todo-item {
    line-height: 30px;
    cursor: pointer;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-transition: background-color ease-in-out .15s;
    -o-transition: background-color ease-in-out .15s;
    transition: background-color ease-in-out .15s;
    position: relative;
    border-top: 1px solid gray;
}

.todo-item:hover {
    background-color: rgba(226, 245, 255, 0.51);
}

.todo-item .checkbox {
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid gray;
    margin: 8px 10px;
    vertical-align: top;
}

.todo-item .remove {
    background-color: #E65656;
    display: inline-block;
    width: 45px;
    height: 30px;
    position: absolute;
    border-radius: 5px;
    color: white;
    text-align: center;
    opacity: 0.5;
}

.todo-item .remove:hover {
    opacity: 1;
}

.todo-item .text {
    display: inline-block;
    width: 400px;
    text-overflow: ellipsis;
}

.todo-item.done {
    background-color: rgba(216, 216, 216, 0.51);
}

.todo-item.done:hover {
    background-color: rgba(216, 216, 216, 0.51);
}

.todo-item.done .checkbox {
    background-color: #7A9884;
    border-color: #7A9884;
}

.todo-item.done .text {
    color: #989696;
    text-decoration: line-through;
}
